.navbar {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 70px;
  background-color: var(--black);
  color: var(--white);
  justify-content: space-between;
}

.logo{
    padding: 5px;
}
