.navbar {
  display: flex;
  flex-direction: column;
  height: 50px;
  background-color: var(--black);
  color: var(--white);
  justify-content: space-between;
}

.coinTab {
  display: flex;
  flex-direction: column;
}
