.navbar {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-width: 400px;
  height: 60px;
  background-color: var(--black);
  color: var(--white);
  justify-content: center;
  /* align-items: center; */
}

.logo{
    padding: 5px;
}
